@import url(main.css);

header{
    background-color: var(--text-dark);
}
header .container nav ul li a:hover{
    color: rgba(255, 255, 255, 0.918);
}
.s-hero-2{
    width: 100%;
    margin-top: 8rem;
    padding-top: 10rem;
    background-color: var(--bg-light);
    height: 50rem;
}
.s-hero-2 .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.s-hero-2 .container .text{
    width: 100%;
    max-width: 46.7rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.s-hero-2 .container .text h1{
    padding-bottom: 46px;
    color: var(--text-dark);
}
.s-hero-2 .container .text h1 span{
    /* Heading 01 */
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 6.4rem;
    line-height: 112%;
    /* or 72px */
    /* secondary-color */
    color: var(--secondary-color);
}
.s-hero-2 .container button{
    margin-top: 13rem;
}
/* === Section Our Values === */
.s-values{
    width: 100%;
    padding: 11.5rem 0px;
}
.s-values .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.s-values .container .values__image img:hover{
    opacity: 0.85;
}
.s-values .container .values__text{
    width: 100%;
    max-width: 48.5rem;
}
.s-values .container .values__text h2{
    padding-bottom: 2rem;
    color: var(--text-light);
}
.s-values .container .values__text p{
    color: #7A7786;
    padding-bottom: 2rem;
    text-align: justify;
}
.s-values .container .values__text a p{
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s;
    color: var(--text-dark);
}
.s-values .container .values__text a p:hover{
    color: var(--grey-300);
}
/* === Section Map === */
.s-map{
    width: 100%;
    padding: 11.5rem 0px;
    background-color: var(--bg-light);
}
.s-map .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.s-map .container .map__text{
    width: 100%;
    max-width: 48.5rem;
}
.s-map .container .map__image img:hover{
    opacity: 0.85;
}
.s-map .container .map__text h2{
    color: var(--text-light);
    padding-bottom: 2rem;
}
.s-map .container .map__text p{
    padding-bottom: 20px;
    text-align: justify;
}
.s-map .container .map__text a p{
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s;
    color: var(--text-dark);
}
.s-map .container .map__text a p:hover{
    color: var(--grey-300);
}