.btn-primary, .btn-secondary, .btn-light, .btn-secondary-light{
    display: inline-block;
    border-radius: 12rem;
    transition: all 0.3s;
    font-size: 1.6rem;
}
.btn-primary, .btn-secondary{
    background-color: var(--primary-color);
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #183C0A;
    line-height: 5.2rem; /* align center */
    padding: 0 2.9rem;
}
.btn-primary:hover{
    background-color: rgba(122, 204, 0, 0.85);
}
.btn-secondary{
    background: var(--white-blur);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    color: var(--white);
}
.btn-secondary:hover{
    background-color: rgba(255, 255, 255, 0.144);
}
.btn-light, .btn-secondary-light{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 4.1rem;
    box-sizing: border-box;
}
.btn-light{
    padding: 0px 4rem;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.39);
    backdrop-filter: blur(30px);
    color: #FFFFFF;
}
.btn-light:hover{
    background: rgba(255, 255, 255, 0.165);
}
.btn-secondary-light{
    border: 1px solid var(--secondary-color);
    padding: 0 5rem;
    color: var(--secondary-color);
}