/* === Section Hero === */
.s-hero{
    width: 100%;
    height: 77.2rem;
    background: #060609;
    background: url(../img/hero-bg.jpg) no-repeat center center;
    /* Source image: pexels.com - Author: Jordan (lions.jpg) */
    padding-top: 21.6rem;
}
.s-hero .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.s-hero .container .main-text{
    width: 100%;
    max-width: 51.8rem;
}
.s-hero .container .main-text h1{
    color: var(--white);
}
.s-hero .container .main-text h3{
    padding-top: 30px;
    color: rgba(255, 255, 255, 0.8);
}
.s-hero .container .main-text__buttons{
    padding-top: 4rem;
    width: 100%;
    max-width: 44.6rem;
    display: flex;
    gap: 3rem;
}
.s-hero .social-media ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.s-hero .social-media ul li a{
    background: rgba(255, 255, 255, 0.1);
    opacity: 0.4;
    border: 1px solid #7A7786;
    box-sizing: border-box;
    backdrop-filter: blur(30px);
    width: 42px;
    height: 42px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
.s-hero .social-media ul li a:hover{
    background: rgba(255, 255, 255, 0.192);
}

/* === Section Promotion === */
.s-promotion .container{
    background-color: var(--white);
    display: flex;
    width: 100%;
    max-width: 100.9rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    z-index: 500;
    margin-top: -60px;
    box-shadow: 0px 0px 40px rgba(122, 119, 134, 0.1);
    padding: 0px !important;
}
.s-promotion .container .s-promotion__hours, .s-promotion__event, .s-promotion__donate{
    display: flex;
    align-items: center;
    gap: 3rem;
    width: 100%;
    padding: 67px 30px;
}
.s-promotion .container .s-promotion__hours{
    box-shadow: 0px 0px 40px rgba(122, 119, 134, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.s-promotion .container .s-promotion__event{
    border-right: 1.5px solid rgb(225, 224, 231, 0.8);
}
.s-promotion__hours__text p{
    padding-top: 1rem;
    color: var(--grey-400);
    font-family: Mulish;
    font-size: 2rem;
    line-height: 112%;
    letter-spacing: -0.5px;
}
.icon__subtitle{
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    align-items: center;
}
.icon__subtitle p{
    color: var(--grey-300);
    margin-right: 1.5rem;
    transition: all 0.3s;
}
.s-promotion__event a p:hover, .s-promotion__donate a p:hover{
    color: var(--grey-600);
}

/* === Section Animals === */
.s-animals .container{
    padding: 11.5rem 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.s-animals .container .animals__text{
    width: 100%;
    max-width: 48.5rem;
}
.s-animals .container .animals__text h2{
    color: #5C940D;
}
.s-animals .container .animals__text p{
    /* Grey / 300 */
    color: var(--grey-300);
    padding-top: 2rem;
    padding-bottom: 2.5rem;
}
.s-animals .container .animals__text button{
    transition: all 0.3s;
}
.s-animals .container .animals__text button:hover{
    background-color: var(--text-light);
    color: var(--white);
}
.s-animals .container .animals__figures{
    display: flex;
    gap: 1.5rem;
}
.s-animals .container .animals__figures img {
    transition: all 0.3s;
}
.s-animals .container .animals__figures img:hover{
    opacity: 0.85;
}
.s-animals .container .animals__figures .figures__square{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
/* === Section Phrase === */
.s-phrase{
    background-color: var(--secondary-color);
}
.s-phrase .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 59.2rem;
    padding: 6.4rem 0 7.8rem 0;
    text-align: center;
}
.s-phrase .container img{
    padding-bottom: 3rem;
}
.s-phrase .container p{
    color: rgba(255, 255, 255, 0.81);
    font-family: 'Mulish', sans-serif;
    font-size: 2.4rem;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.5px;
}
.s-phrase .phrase__author{
    padding-top: 4rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 37rem;
    justify-content: center;
    position: relative;
}
.s-phrase .phrase__author img{
    position: absolute;
    bottom: -20px;
    left: 0;
}
.s-phrase .phrase__author p{
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 0.74);

}