.s-hero{
    width: 100%;
    height: 77.2rem;
    background: #060609;
    background: url(../img/hero-bg.jpg) no-repeat center center;
    padding-top: 21.6rem;
}
.s-hero .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.s-hero .container .main-text{
    width: 100%;
    max-width: 51.8rem;
}
.s-hero .container .main-text h1{
    color: var(--white);
}
.s-hero .container .main-text h3{
    padding-top: 30px;
    color: rgba(255, 255, 255, 0.8);
}
.s-hero .container .main-text__buttons{
    padding-top: 4rem;
    width: 100%;
    max-width: 44.6rem;
    display: flex;
    gap: 3rem;
}
.s-hero .social-media ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.s-hero .social-media ul li a{
    background: rgba(255, 255, 255, 0.1);
    opacity: 0.4;
    border: 1px solid #7A7786;
    box-sizing: border-box;
    backdrop-filter: blur(30px);
    width: 42px;
    height: 42px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
