footer{
    width: 100%;
    
}
footer .container{
    /* primary-color */
    border-top: 2px solid #7BCC00;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 8rem;
}
footer .container .footer__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .container .footer__top ul{
    display: flex;
    flex-direction: row;
    gap: 4.8rem;
    align-items: center;
}
footer .container .footer__top ul a{
    color: var(--text-light);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 150%;
}

footer .container .footer__top ul li a{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 125%;
    /* or 20px */
    color: var(--grey-300);
}
footer .container .footer__top ul:last-child li:nth-child(5) a{
    font-weight: bold;
    color: #88B300 !important;
}
footer .container .footer__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8.9rem;
    padding-bottom: 8rem;
}
footer .container .name{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 10px 0px;
    /* Grey / 100 */
    border-top: 1px solid var(--grey-100);
}
footer .container .footer__bottom .bottom__logo p{
    /* Grey / 300 */
    color: var(--grey-300);
}

.c-green{
    font-size: 18px;
    line-height: 150%;
    color: #88B300 !important;
}
.right{
    text-align: right;
    color: var(--grey-300);
}
footer .container .name p{
    /* D. Paragraph/Text-14 */
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    line-height: 150%;
    color: var(--grey-200);
}
/* === Responsive ==== */
@media (max-width: 991px){
    footer .container .footer__top {
        flex-direction: column;
        gap: 2rem;
    }
    footer .container .footer__top ul {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    footer .container .footer__bottom{
        padding: 3rem 0px;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .right{
        text-align: center;
    }
    .left{
        text-align: center;
    }
}