header{
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    background-color: transparent;
    height: 8rem;
    display: flex;
    z-index: 10000;
    transition: all 0.3s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.29);
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center; /* vertical */
    justify-content: space-between; /* horizontal (only works with width on element father) */
}
header .container nav{
    display: flex;
    align-items: center;
}
header .container nav ul{
    margin-right: 11.1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4.8rem;
}
header .container nav ul li a{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 125%;
    color: #FFFFFF;
    display: flex;
    transition: all 0.3s;
}
header .container nav ul li a:hover{
    color: var(--primary-color);
}
.active{
    bottom: 0;
    position: absolute;
}
.bgON{
    background-color: var(--text-dark) !important;
}