header{
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    background-color: transparent;
    height: 8rem;
    display: flex;
    z-index: 10000;
    transition: all 0.3s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.29);
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center; /* vertical */
    justify-content: space-between; /* horizontal (only works with width on element father) */
}
header .container nav{
    display: flex;
    align-items: center;
}
header .container nav ul{
    margin-right: 11.1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4.8rem;
}
header .container nav ul li a{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 125%;
    color: #FFFFFF;
    display: flex;
    transition: all 0.3s;
}
header .container nav ul li a:hover{
    color: var(--primary-color);
}
.active{
    bottom: 0;
    position: absolute;
}
.bgON{
    background-color: var(--text-dark) !important;
}
/* ==== Mobile Menu ==== */
.btn-mobile{
    display: none;
}
.btn-mobile-close {
    display: none;
}
/* === Responsive === */

    @media (max-width: 1086px){
        .container nav ul{
            gap: 2rem;
            margin-right: 2rem;
        }
    }
    @media (max-width: 991px){
        header .container .logo{
            max-width: 10.8rem;
        }
        header .container nav {
            position: fixed;
            right: -800px; 
            height: 100vh;
            transition: all .6s linear;
            width: 65%; 
            max-width: 35rem;
            z-index: 10000; 
            box-shadow: -5px 5px 10px rgba(0,0,0, 0.1);
            top: 0; 
            flex-direction: column;
            background-color: var(--text-dark);
        }
        header .container nav ul {
            transition: all .6s linear;
            flex-direction: column;
            justify-content: space-evenly;
            margin-right: 0;
            height: 40%;
            gap: 1.5rem;
        }
        header .container nav ul li:not(:first-child) {
             margin-left: 0;
        }
        header .container nav ul li{
            margin: 0;
            text-align: center;
        }
        header .container nav ul li a{
            font-size: 2rem;
        }
        header .container nav .btn-mobile.close{
            display: block;
            height: 10%;
            max-height: 8.8rem;
            align-self: flex-end;
            padding: 20px;
        }
        header .container nav.active{
            right: 0;
        }
        header .container .btn-mobile{
            display: inline-block;
            margin-left: 4rem;
        }
                      
    }
    @media (max-width: 480px){
        header{
            height: 7.3rem;
        }
        .container nav .btn-mobile{
            height: 7.1rem;
        }
        .container nav .btn-mobile img{
            max-width: 80%;
        }
    }
    @media (max-width: 340px) {
        nav .btn-mobile{
            height: 7.3rem;
        }
        nav .btn-mobile ul li {
            font-size: 1.8rem;
        }
    }
