/* === Section Hero === */
.s-hero{
    width: 100%;
    height: 77.2rem;
    background: url(../img/bg/hero-bg.webp) no-repeat center center;
    /* Source image: pexels.com - Author: Jordan (lions.jpg) */
    padding-top: 21.6rem;
    background-color: #080D10;
}
.s-hero .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.s-hero .container .main-text{
    width: 100%;
    max-width: 51.8rem;
}
.s-hero .container .main-text h1{
    color: var(--white);
}
.s-hero .container .main-text h2{
    padding-top: 30px;
    color: rgba(255, 255, 255, 0.8);
}
.s-hero .container .main-text__buttons{
    padding-top: 4rem;
    width: 100%;
    max-width: 44.6rem;
    display: flex;
    gap: 3rem;
}
.s-hero .social-media ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.s-hero .social-media ul li a{
    background: rgba(255, 255, 255, 0.1);
    opacity: 0.4;
    border: 1px solid #7A7786;
    box-sizing: border-box;
    backdrop-filter: blur(30px);
    width: 42px;
    height: 42px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
.s-hero .social-media ul li a:hover{
    background: rgba(255, 255, 255, 0.4);
}
/* === Responsive ==== */
@media (max-width: 480px){
}
@media (max-width: 991px){
    .s-hero{
        padding-top: 15rem;
        background: url(../img/icons/mobile-bg.webp) no-repeat center center;
    }
    .s-hero .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5rem;
    }
    .s-hero .container .main-text h1,h2 {
        text-align: center;
    }
    .s-hero .container .main-text__buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
    .s-hero .social-media ul {
        flex-direction: row;

    }
}
@media only screen and (max-width: 991px) and (min-width: 480px)  {
    .s-hero{
        padding-top: 18rem;
    }
}

/* === Section Promotion === */
.s-promotion .container{
    background-color: var(--white);
    display: flex;
    width: 100%;
    max-width: 100.9rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    z-index: 500;
    margin-top: -60px;
    box-shadow: 0px 0px 40px rgba(122, 119, 134, 0.1);
    padding: 0px !important;
}
.s-promotion .container .s-promotion__hours, .s-promotion__event, .s-promotion__donate{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    padding: 67px 30px;
}
.s-promotion .container .s-promotion__hours{
    box-shadow: 0px 0px 40px rgba(122, 119, 134, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.s-promotion .container .s-promotion__event{
    border-right: 1.5px solid rgb(225, 224, 231, 0.8);
}
.s-promotion__hours__text p{
    padding-top: 1rem;
    color: var(--grey-600);
    font-family: Mulish;
    font-size: 2rem;
    line-height: 112%;
    letter-spacing: -0.5px;
}
.icon__subtitle{
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    align-items: center;
}
.icon__subtitle p{
    color: var(--grey-600);
    margin-right: 1.5rem;
    transition: all 0.3s;
}
.s-promotion__event a p:hover, .s-promotion__donate a p:hover{
    color: var(--grey-600);
}
/* === Responsive ==== */
@media (max-width: 991px){
    .s-promotion .container{
        flex-direction: column;
        max-width: 90%;
        justify-content: center;
    }
    .s-promotion .container .s-promotion__event {
        border-right: none;
        border-top: 1.5px solid rgb(225, 224, 231, 0.8);
    }
}
@media only screen and (max-width: 991px) and (min-width: 600px)  {
    .s-promotion .container{
        max-width: 60%;
    }
}
/* === Section Animals === */
#s-animals .container{ /* using ID selector */
    padding: 11.5rem 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#s-animals .container .animals__text{
    width: 100%;
    max-width: 48.5rem;
}
#s-animals .container .animals__text h3{
    color: #5C940D;
    width: 100%;
    max-width: 27.8rem;
}
#s-animals .container .animals__text p{
    /* Grey / 300 */
    color: var(--grey-600);
    padding-top: 2rem;
    padding-bottom: 2.5rem;
}
#s-animals .container .animals__figures{
    display: flex;
    gap: 1.5rem;
}
#s-animals .container .animals__figures img {
    transition: all 0.3s;
}
#s-animals .container .animals__figures img:hover{
    opacity: 0.85;
    transform: scale(1.05);
}
#s-animals .container .animals__figures .figures__square{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
/* === Responsive ==== */
@media (max-width: 991px){
    #s-animals .container{ /* using ID selector */
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
        gap: 3rem;
    }
    #s-animals .container .animals__text h3 {
        max-width: 100%;
    }
}
/* === Section Phrase === */
.s-phrase{
    background-color: var(--secondary-color);
}
.s-phrase .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 59.2rem;
    padding: 6.4rem 0 7.8rem 0;
    text-align: center;
}
.s-phrase .container img{
    padding-bottom: 3rem;
}
.s-phrase .container p{
    color: rgba(255, 255, 255, 0.99);
    font-family: 'Mulish', sans-serif;
    font-size: 2.4rem;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.5px;
}
.s-phrase .phrase__author{
    padding-top: 4rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 37rem;
    justify-content: center;
    position: relative;
}
.s-phrase .phrase__author img{
    position: absolute;
    bottom: -20px;
    left: 0;
}
.s-phrase .phrase__author p{
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 0.99);
}
/* === Responsive ==== */
@media (max-width: 991px){
    .s-phrase .container p{
        font-size: 18px;
        padding: 0px 20px;
    }
    .s-phrase .phrase__author{
        max-width: 34rem;
    }
}
/* === Section About us === */
.s-about-us{
    padding: 11.5rem 0px;
    width: 100%;
}
.s-about-us .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.about-us__image img{
    transition: all 0.3s;
}
.about-us__image img:hover{
    opacity: 0.85;
}
.about-us__text{
    width: 100%;
    max-width: 48.5rem;
    text-align: justify;
}
.about-us__text h3{
    color: var(--text-light);
    padding-bottom: 2rem;
}
.about-us__text p{
    padding-bottom: 2rem;
    color: var(--grey-600);
}
.about-us__text a p{
    display: flex;
    align-items: center;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 150%;
    letter-spacing: -0.5px;
    color: var(--secondary-color);
    gap: 10px;
    transition: all 0.3s;
}
.about-us__text a p:hover{
    color: var(--text-light);
}
/* === Responsive ==== */
@media (max-width: 991px){
    .s-about-us{
        padding: 8rem 0px;
    }
    .s-about-us .container{
        flex-direction: column-reverse;
        text-align: center;
    }
    .about-us__text{
        text-align: center;
    }
    .about-us__text a p {
        text-align: center;
        font-size: 20px;
        justify-content: center;
    }
}
/* === Section Newsletter === */
.s-products{
    background-color: var(--bg-light);
    padding: 11.5rem 0px;
    width: 100%;
}
.s-products .container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.s-products .container h3{
    width: 100%;
    max-width: 28.9rem;
    color: var(--text-light);
    padding-bottom: 20px;
}
.s-products .container p{
    color: var(--grey-600);
    padding-bottom: 2.5rem;
    max-width: 48.5rem;
}
.s-products .container .events{
    display: flex;
    flex-direction: column;
}
.s-products .container .events a.btn-secondary-light{
    max-width: 25rem;
}
.s-products .container .events img{
    padding-top: 57px;
    transition: all 0.3s;
}
.s-products .container .events img:hover{
    opacity: 0.85;
}
.s-products .container .news{
    padding-left: 6.5rem;
    border-left: 1px solid var(--text-light);
}
.s-products .container .news__card{
    margin-top: 25px;
    background-color: var(--white);
    max-width: 48.8rem;
    width: 100%;
    border-radius: 10px;
}
.s-products .container .news__card .card__title{
    background-color: var(--secondary-color);
    padding-top: 30px;
    padding-left: 25px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: all 0.3s;
}
.s-products .container .news__card .card__title:hover{
    background-color: var(--text-light);
}
.s-products .container .news__card .card__title p{
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 20px;
    /* identical to box height, or 33px */
    letter-spacing: -0.5px;
    /* brand/white */
    color: #FFFFFF;
}
.s-products .container .news__card .card__body p{
    text-align: justify;
    padding: 25px 20px 0px 25px;
}
.s-products .container .news__card .card__body a p{
    display: flex;
    align-items: center;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: -0.5px;
    color: var(--secondary-color);
    gap: 10px;
    transition: all 0.3s;
    padding-bottom: 2.5rem;
}
.s-products .container .news__card .card__body a p:hover{
    color: var(--text-light);
}
/* === Responsive ==== */
@media (max-width: 991px){
    .s-products {
        padding: 8rem 0px;
    }
    .s-products .container{
        flex-direction: column;
        text-align: center;
        gap: 8rem;
        justify-content: center;
    }
    .s-products .container h3, .s-products .container p {
        max-width: 100%;
    }
    .s-products .container .news {
        border-left: none;
        padding-left: 0px;
    }
    .s-products .container .news__card {
        max-width: 100%;
    }
    .s-products .container .events{
        justify-content: center;
        align-items: center;
    }
    .s-products .container .events img {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 90%;
        margin: 0 auto;
    }
}