@import url(main.css);

/* ===== About Us =====*/
header{
    background-color: var(--text-dark);
}
header .container nav ul li a:hover{
    color: rgba(255, 255, 255, 0.918);
}
.s-hero-2{
    width: 100%;
    margin-top: 8rem;
    padding-top: 10rem;
    background-color: var(--bg-light);
    height: 50rem;
}
.s-hero-2 .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.s-hero-2 .container .text{
    width: 100%;
    max-width: 46.7rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.s-hero-2 .container .text h1{
    padding-bottom: 46px;
    color: var(--text-dark);
}
.s-hero-2 .container .text h1 span{
    /* Heading 01 */
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 6.4rem;
    line-height: 112%;
    /* or 72px */
    /* secondary-color */
    color: var(--secondary-color);
}
.s-hero-2 .container a#s-values{
    margin-top: 8rem;
}
/* === Section Our Values === */
.s-values{
    width: 100%;
    padding: 11.5rem 0px;
}
.s-values .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.s-values .container .values__image img:hover{
    opacity: 0.85;
}
.s-values .container .values__text{
    width: 100%;
    max-width: 48.5rem;
}
.s-values .container .values__text h2{
    padding-bottom: 2rem;
    color: var(--text-light);
}
.s-values .container .values__text p{
    color: #7A7786;
    padding-bottom: 2rem;
    text-align: justify;
}
.s-values .container .values__text a p{
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s;
    color: var(--text-dark);
}
.s-values .container .values__text a p:hover{
    color: var(--grey-300);
}
/* === Section Map === */
.s-map{
    width: 100%;
    padding: 11.5rem 0px;
    background-color: var(--bg-light);
}
.s-map .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.s-map .container .map__text{
    width: 100%;
    max-width: 48.5rem;
}
.s-map .container .map__image img:hover{
    opacity: 0.85;
}
.s-map .container .map__text h2{
    color: var(--text-light);
    padding-bottom: 2rem;
}
.s-map .container .map__text p{
    padding-bottom: 20px;
    text-align: justify;
}
.s-map .container .map__text a p{
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s;
    color: var(--text-dark);
}
.s-map .container .map__text a p:hover{
    color: var(--grey-300);
}

/* === Section Address === */
.s-address{
    width: 100%;
    padding: 11.5rem 0px;
}
.s-address .container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.s-address .container h2{
    color: var(--text-light);
    padding-bottom: 3rem;
}
.s-address .container p{
    color: var(--grey-300);
    padding-bottom: 10px;
}
.s-address .container h5{
    padding-bottom: 15px;
}
/* Set the size of the div element that contains the map */
#googleMap {
    height: 262px;
    /* The height is 400 pixels */
    width: 100%;
    max-width: 38.2rem;
    /* The width is the width of the web page */
}
/* === Newsletter === */
.s-newsletter{
    width: 100%;
    padding: 11.5rem 0px;
    background-color: var(--bg-light);
}
.s-newsletter .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.s-newsletter .container h2{
    color: var(--text-light);
    padding-bottom: 2rem;
}
.s-newsletter .container p{
    color: var(--text-dark);
    padding-bottom: 3.5rem;
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.input img{
    cursor: pointer;
}
input[type=text] {
    background-color: white;
    color: var(--grey-200);
    padding: 12px 20px;
    width: 30rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}
@media (max-width: 991px){
    .s-hero-2{
        margin-top: 6rem;
        padding-top: 8rem;
    }
    .s-hero-2 .container a#s-values {
        margin-top: 4rem;
    }
    .s-values, .s-map, .s-address, .s-newsletter{
        padding: 8rem 0px;
    }
    .s-values .container{
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    .s-values .container .values__text p, .s-map .container .map__text p{
        text-align: center;
    }
    .s-values .container .values__text a p, .s-map .container .map__text a p{
        justify-content: center;
        font-size: 2rem;
    }
    .s-map .container{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    .s-address .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 3rem;
    }
}

/* ======= Animals Pages ====== */
.s-week-animal{
    width: 100%;
    padding: 11.5rem 0px;
}
.s-week-animal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.s-week-animal .container img:hover{
    opacity: 0.85;
}
.s-week-animal .container .animals__text{
    width: 100%;
    max-width: 48.5rem;
}
.s-week-animal .container .animals__text h2{
    color: var(--text-light);
    padding-bottom: 2rem;
}
.s-week-animal .container .animals__text p{
    padding-bottom: 2rem;
    text-align: justify;
}
.s-week-animal .container .animals__text a p{
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s;
    color: var(--text-light);
}
.s-week-animal .container .animals a p:hover{
    color: var(--grey-300);
}
.s-pictures{
    width: 100%;
    padding: 11.5rem 0px;
    background-color: var(--bg-light);
}
.s-pictures .container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.s-pictures .container h2{
    color: var(--text-light);
    padding-bottom: 2rem;
}
.s-pictures .container p{
    max-width: 48.5rem;
    padding-bottom: 8rem;
}
.s-pictures .container .pics{
    display: flex;
    gap: 3.2rem;
    flex-wrap: wrap;
}
.s-pictures .container .pics img{
    transition: all 0.3s;
}
.s-pictures .container .pics img:hover{
    opacity: 0.85;
    transform: scale(1.05);
}
@media (max-width: 991px){
    .s-week-animal, .s-pictures{
        padding: 8rem 0px;
    }
    .s-week-animal .container{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .s-week-animal .container .animals__text a p {
        justify-content: center;
        font-size: 2rem;
    }
    .s-pictures .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .s-pictures .container .pics {
        justify-content: center;
        align-items: center;
    }
    
}
/* ==== PROTOTYPE PAGE ==== */
.s-hero-3{
    width: 100%;
    margin-top: 8rem;
    padding-top: 10rem;
    background: url(../img/icons/stars.png) no-repeat center center;
    background-color: var(--bg-light);
    padding-bottom: 60px;
}
.s-hero-3 .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.s-hero-3 .container .text{
    width: 100%;
    max-width: 46.7rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.s-hero-3 .container .text img{
    padding-bottom: 3rem;
}
.s-hero-3 .container .text h1{
    padding-bottom: 46px;
    color: var(--text-dark);
}
.s-hero-3 .container .text h1 span{
    /* Heading 01 */
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    font-size: 6.4rem;
    line-height: 113%;
    /* or 73px */
    /* secondary-color */
    color: var(--secondary-color);
}
.s-hero-3 .container a#backbutton{
    margin-top: 7rem;
}
/* === KIDS PAGE CSS === */
.s-hero-4{
    width: 100%;
    margin-top: 8rem;
    padding-top: 10rem;
    height: 50rem;
    background-color: var(--bg-light);
}
.s-hero-4 .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
@keyframes floating{
    0%{
        transform: translateY(0);
    }
    66%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes floating-side{
    0%{
        transform: translateX(0);
    }
    66%{
        transform: translateX(-35px);
    }
    100%{
        transform: translateX(0px);
    }
}
img#rainbow{
    left: 0px;
    top: 36rem;
    position: absolute;
    animation: floating-side 3s infinite;
    animation-iteration-count: 3; /* stop the animation after 3 times */
}

.s-hero-4 .container img#boy{
    max-width: 20.3rem;
    position: absolute;
    right: 0; /* image boy position */
    bottom: 11.5rem;
    animation: floating 6s infinite; /* keyframe animation */
}
.s-hero-4 .container .text{
    width: 100%;
    max-width: 62.4rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.s-hero-4 .container .text h1{
    padding-bottom: 46px;
    color: var(--text-dark);
    /* Heading 01 */
    font-family: 'Rammetto One', sans-serif;
    font-size: 6.4rem;
    line-height: 112%;
    /* or 74px */
    /* secondary-color */
}
.s-hero-4 .container .text p{
    max-width: 46.7rem;
}
.s-hero-4 .container .text h1 span{
    /* Heading 01 */
    font-family: 'Rammetto One', sans-serif;
    font-size: 6.4rem;
    line-height: 112%;
    /* or 74px */
    /* secondary-color */
    color: var(--secondary-color);
}
.s-hero-4 .container a#s-help{
    margin-top: 10rem;
}
.s-help{
    width: 100%;
    padding: 11.5rem 0px;
}
.s-help .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.s-help .container .animals__text{
    max-width: 48.5rem;
}
.s-help .container .animals__text h2{
    color: var(--text-light);
    font-family: 'Rammetto One', sans-serif;
    padding-bottom: 2rem;

}
.s-help .container .animals__text p{
    padding-bottom: 2rem;
    text-align: justify;
    color: var(--grey-300);
}
.s-help .container .animals__text a p{
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s;
    color: var(--text-light);
}
.s-help .container .animals a p:hover{
    color: var(--grey-300);
}
article.pictures-help{
    width: 100%;
    padding: 11.5rem 0px;
    background-color: var(--bg-light);
}
article.pictures-help .container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}
.help__top{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.help__top .animals-help__text{
    max-width: 48.5rem;
}
.help__top .animals-help__text h2{
    padding-bottom: 30px;
    color: var(--text-light);
    font-family: 'Rammetto One', sans-serif;
}
article.pictures-help .pics{
    display: flex;
    gap: 3.2rem;
    flex-wrap: wrap;
}
article.pictures-help .pics img{
    transition: all 0.3s;
}
article.pictures-help .pics img:hover{
    opacity: 0.85;
    transform: scale(1.05);
}
@media (max-width: 991px){
    .s-hero-4{
        margin-top: 5rem;
        height: 70rem;
    }
    .s-hero-4 .container{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }
    .s-hero-4 .container .text h1{
        font-size: 4rem;
    }
    img#rainbow{
        display: none;
    }
    .s-hero-4 .container img#boy{
        position: relative;
        right: 0px; /* image boy position */
        bottom: 0px;
        max-width: 13.5rem;
    }
    .s-hero-4 .container button {
        margin-top: 0rem;
    }
    .s-help{
        padding: 8rem 0rem;
        text-align: center;
    }
    .s-help .container{
        flex-direction: column-reverse;
    }
    .s-help .container .animals__text a p {
        justify-content: center;
    }
    article.pictures-help {
        padding: 8rem 0rem;
    }
    article.pictures-help .container{
        gap: 6rem;
    }
    .help__top {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .pics{
        align-items: center;
        justify-content: center;
    }
}
/* ===== DONATION PAGES ==== */
.s-prices{
    width: 100%;
    padding: 11.5rem 0px;
}
.s-prices .container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.s-prices .container .prices__text{
    max-width: 48.5rem;
}
.s-prices .container .prices__text h2{
    color: var(--text-light);
    max-width: 31.2rem;
    padding-bottom: 2rem;
}
.s-prices .container .prices__text a p{
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s;
    color: var(--text-light);
    padding-bottom: 2rem;
}
.s-prices .container .prices__text a p:hover{
    color: var(--text-dark);
}
.s-prices .container .prices__text p{
    text-align: justify;
}
.s-prices .container .prices__text a p.discount{
    color: var(--text-dark);
    padding-top: 3rem;
}
table{
    padding: 0;
    margin: 0;
    border-radius: 1rem;
    border-spacing: 0px;
    border: 1px solid var(--text-dark);
    max-width: 59.2rem;
    min-width: 40rem;
}
th{
    background-color: var(--bg-light);
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */
    letter-spacing: -0.5px;
    /* text-light */
    color: #5C940D;
}
td {
    border: 1px solid var(--text-light);
    /* D. Paragraph/Text-18 */
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */
    /* text-dark-color */
    color: #183C0A;
}
.money{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */
    /* text-dark-color */
    color: #183C0A;

}
th, td{
    padding: 1.5rem;
}

.s-donation{
    width: 100%;
    background-color: var(--bg-light);
    padding: 11.5rem 0px;
}
.s-donation .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.s-donation .container img:hover{
    opacity: 0.85;
}
.s-donation .container .donation__text{
    width: 100%;
    max-width: 48.5rem;
}
.s-donation .container .donation__text h2{
    color: var(--text-light);
    padding-bottom: 2rem;
}
.s-donation .container .donation__text p{
    padding-bottom: 2rem;
}
.s-donation .container .donation__text a p{
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s;
    color: var(--text-light);
    padding-bottom: 2rem;
}
.s-tickets{
    width: 100%;
    padding: 11.5rem 0px;
}
.s-tickets .container{
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.s-tickets .container img:hover{
    opacity: 0.85;
}
.s-tickets .container .tickets__pics{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.s-tickets .container .tickets__pics .pics__top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
}
.s-tickets .container .tickets__text{
    width: 100%;
    max-width: 48.5rem;
}
.s-tickets .container .tickets__text h2{
    color: var(--text-light);
    padding-bottom: 2rem;
}
.s-tickets .container .tickets__text p{
    padding-bottom: 2rem;
}
.s-tickets .container .tickets__text a p{
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s;
    color: var(--text-light);
    padding-bottom: 2rem;
}
@media (max-width: 991px){
    .s-prices{
        padding: 8rem 0px;
    }
    .s-prices .container{
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .s-prices .container .prices__text h2 {
        max-width: 100%;
    }
    .s-prices .container .prices__text a p {
        align-items: center;
        justify-content: center;
    }
    th, td {
        padding: 1rem;
        font-size: 1.8rem;
        max-width: 50px;
    }
    table{
        min-width: 100%;
        max-width: 100%;
    }
    .s-donation {
        max-width: 100%;
        padding: 8rem 0px;
    }
    .s-donation .container{
        flex-direction: column;
    }
    .s-tickets{
        padding: 8rem 0px;
    }
    .s-tickets .container{
        flex-direction: column;
    }
    .s-tickets .container .tickets__pics .pics__top {
        flex-direction: column;
    }
}
@media (max-width: 480px){
    h1{
        font-size: 3.8rem;
    }
    h2{
        font-size: 3rem;
    }
    h3{
        font-size: 2rem;
    }
    p{
        font-size: 1.8rem;
    }
    span{
        font-size: 4.7rem !important;
    }
    .s-hero-3{
        margin-top: 5rem;
    }
    .s-hero-3 span{
        font-size: 3.5rem !important;
    }
    nav span{
        font-size: 3.2rem !important;
    }
}
@media only screen and (max-width: 991px) and (min-width: 480px)  {
    h1{
        font-size: 4.5rem;
    }
    h3{
        font-size: 2.3rem;
    }
    span{
        font-size: 4.7rem !important;
    }
    nav span{
        font-size: 3.2rem !important;
    }
}