h1,h2,h3,h4,h5{
    font-family: 'Mulish', sans-serif;
}
h1,h2{
    line-height: 112%;
    /* identical to box height, or 72px */
}
h1{
    /* Heading 01 */
    font-weight: 800;
    font-size: 6.4rem;
}
h2{
    font-weight: bold;
    font-size: 4rem;
}
h3,h4{
     /* identical to box height, or 36px */
     letter-spacing: -0.5px;
}
h3{
    /* Heading 03 */
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 150%;
}
h4{
    /* Heading 04 */
    font-weight: 500;
    font-size: 2rem;
    line-height: 120%;
}
h5{
    font-weight: 700;
    font-size: 2rem;
    line-height: 112%;
    letter-spacing: -0.5px;
    /* text-light */
    color: #5C940D;
}
p{
    /* D. Paragraph/Text-18 */
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    line-height: 150%;
    color: var(--grey-400);
}
@media (max-width: 480px){
    h1{
        font-size: 3.8rem;
    }
    h2{
        font-size: 3rem;
    }
    h3{
        font-size: 2rem;
    }
    p{
        font-size: 1.8rem;
    }
    span{
        font-size: 3.8rem;
    }
}
@media only screen and (max-width: 991px) and (min-width: 480px)  {
    h1{
        font-size: 4.5rem;
    }
    h3{
        font-size: 2.3rem;
    }
    span{
        font-size: 3.8rem;
    }
}
